@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;




html {
  font-family: 'Tajawal', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}
/* @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&display=swap');

body {
  font-family: 'IBM Plex Sans', sans-serif;
} */

